<!--右侧-->
<div class="right">
    <h3>快速入口</h3>
    <dl>
        <!--显示栏目-->
        <category cid="1">
            <dt><a href="/c_{{$field['cid']}}.html">{{$field['catname']}}</a></dt>
        </category>
        <!--显示父级栏目下面的数据-->
        <category pid="1">
            <dd><a href="/c_{{$field['cid']}}.html">{{$field['catname']}}</a></dd>
        </category>
    </dl>
    <dl>
        <!--显示栏目-->
        <category cid="3">
            <dt><a href="/c_{{$field['cid']}}.html">{{$field['catname']}}</a></dt>
        </category>
        <!--显示父级栏目下面的数据-->
        <category pid="3">
            <dd><a href="/c_{{$field['cid']}}.html">{{$field['catname']}}</a></dd>
        </category>
    </dl>

    <dl>
        <!--显示栏目-->
        <category cid="4">
            <dt><a href="/c_{{$field['cid']}}.html">{{$field['catname']}}</a></dt>
        </category>
        <!--显示父级栏目下面的数据-->
        <category pid="4">
            <dd><a href="/c_{{$field['cid']}}.html">{{$field['catname']}}</a></dd>
        </category>
    </dl>
</div>
<!--右侧结束-->