<!--header start-->
<include file="./template/web/header.html"/>
<!--header end-->

<div id="mainbody">
    <div class="blogs">
        <div class="newlist">
            <h2 style="border-color: #247979;">
                您当前的位置：
                <a href="{{__ROOT__}}" style="color: #247979">首页</a>&nbsp;>&nbsp;<a href="#">{{$model['catname']}}</a>
            </h2>

            <ul>
                <!--<sec_category>-->
                    <!--<h3>{{$field['catname']}}</h3>-->
                    <!--<catArc>-->
                        <!--<li><span>{{substr($arc['created_at'],0,10)}}</span><a href="{{$arc['a_url']}}" title="{{$arc['title']}}" >{{$arc['title']}}</a>-->
                        <!--</li>-->
                    <!--</catArc>-->
                <!--</sec_category>-->


            </ul>
        </div>
        <!--bloglist end-->
        <aside>
            <!--searchform-->
            <include file="./template/web/searchform.html"/>
            <!--searchform end-->

            <!--right_nav-->
            <include file="./template/web/right_nav.html"/>
            <!--right_nav end-->
            <div class="tuijian">
                <h2>栏目更新</h2>
                <ol>
                    <li><span><strong>1</strong></span><a href="/">有一种思念，是淡淡的幸福,一个心情一行文字</a></li>

                </ol>
            </div>

            <!--hot clicks-->
            <include file="./template/web/hot_click.html"/>
            <!--hot clicks end-->

        </aside>
    </div>
    <!--blogs end-->
</div>
<!--mainbody end-->
<!--footer start-->
<include file="./template/web/footer.html"/>
<!--footer end-->