<footer>
    <div class="footer-mid">

        <div id="webs">
            <span style="color: #FFF">友情链接：</span>
            <tag action="links.lists" rows="5">
                <a href="{{$field['url']}}" target="_blank">{{$field['lname']}}</a>
            </tag>
        </div>

    </div>
    <div class="footer-bottom">
        <p>Copyright 2017 Design by <a href="{{__ROOT__}}">Gaines|杨利超</a>&nbsp;{{v('config.icp')}}</p>
    </div>
</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox">
    <!--<a id="togbook" href="{{__TEMPLATE__}}/e/tool/gbook/?bid=1"></a> -->
    <a id="gotop" href="{{__TEMPLATE__}}/javascript:void(0)"></a> </div>
<!-- 代码结束 -->
</body>
</html>