<div class="sunnav">
    <ul>
        <category cid="1">
            <li><a href="{{$field['url']}}" target="_blank" title="{{$field['catname']}}">{{$field['catname']}}</a></li>
        </category>

        <category cid="3">
            <li><a href="{{$field['url']}}" target="_blank" title="{{$field['catname']}}">{{$field['catname']}}</a></li>
        </category>
        <category cid="6">
            <li><a href="{{$field['url']}}" target="_blank" title="{{$field['catname']}}">{{$field['catname']}}</a></li>
        </category>
        <category cid="9">
            <li><a href="{{$field['url']}}" target="_blank" title="{{$field['catname']}}">{{$field['catname']}}</a></li>
        </category>
    </ul>
</div>