<!-- Footer -->
<footer id="footer">

    <!-- Main Footer -->
    <div id="main-footer">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6 animate-onscroll">

                <h4>个人名片</h4>
                <p>网名：Gaines | 杨利超</p>
                <p>职业：Web前端、微信、PHP开发</p>
                <p>电话：15687373046</p>
                <p>Email：862574133@qq.com</p>
                <p>公众号：gaines0804</p>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 animate-onscroll">

                <h4>友情链接</h4>

                <div class="col-lg-12 col-md-1 col-sm-6 col-xs-6 menu-container">

                    <ul class="menu">
                        <tag action="links.lists" rows="5">
                            <li><a href="{{$field['url']}}" target="_blank">{{$field['lname']}}</a></li>
                        </tag>
                    </ul>

                </div>

                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-container">-->

                    <!--<ul class="menu">-->
                        <!--<li><a href="#">Email updates</a></li>-->
                        <!--<li><a href="#">Find events</a></li>-->
                        <!--<li><a href="#">Make calls</a></li>-->
                        <!--<li><a href="#">Register to vote</a></li>-->
                        <!--<li><a href="#">Donate</a></li>-->
                        <!--<li><a href="#">Volunteer</a></li>-->
                    <!--</ul>-->

                <!--</div>-->

            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 twitter-widget-area animate-onscroll">

                <h4>微信、公众号</h4>

                <div class="col-lg-5">
                    <img src="{{__TEMPLATE__}}/images/weixin.png" >
                    <p class="text-center">个人微信</p>
                </div>
                <div class="col-lg-5">
                    <img src="{{__TEMPLATE__}}/images/wechat.jpg" >
                    <p class="text-center">微信公众号</p>
                </div>
            </div>



        </div>

    </div>
    <!-- /Main Footer -->




    <!-- Lower Footer -->
    <div id="lower-footer">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 animate-onscroll">

                <p class="copyright text-center">Copyright by Gaines © 2017-07.
                    <a href="{{__ROOT__}}" target="_blank" title="Gaines'blog">Gaines'blog</a> - 杨利超
                    <span>{{v('config.icp')}}</span>

            </div>


        </div>

    </div>
    <!-- /Lower Footer -->


</footer>
<!-- /Footer -->



<!-- Back To Top -->
<a href="#" id="button-to-top"><i class="icons icon-up-dir"></i></a>

</div>


<!-- Bootstrap -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/bootstrap.min_1.js"   ></script>

<!-- Modernizr -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/modernizr_1.js"   ></script>

<!-- Sliders/Carousels -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/jquery.flexslider-min_1.js"   ></script>
<script type="text/javascript" src="{{__TEMPLATE__}}/js/owl.carousel.min_1.js"   ></script>

<!-- Revolution Slider  -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/jquery.themepunch.plugins.min_1.js"   ></script>
<script type="text/javascript" src="{{__TEMPLATE__}}/js/jquery.themepunch.revolution.min_1.js"   ></script>



<!-- Raty -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/jquery.raty.min_1.js"   ></script>

<!-- Chosen -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/chosen.jquery.min_1.js"   ></script>



<!-- MixItUp -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/jquery.mixitup_1.js"></script>

<!-- JackBox -->
<!--<script type="text/javascript" src="{{__TEMPLATE__}}/js/jackbox-packed.min_1.js"></script>-->



<!-- Main Script -->
<script type="text/javascript" src="{{__TEMPLATE__}}/js/script_1.js"></script>


