<include file="./template/web/header.html"/>

		<section id="content">

			<!-- Section -->
			<section class="section full-width-bg">

				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-8" style="background: #FFF;">

						<!-- Main Slider -->
						<div class="flexslider main-flexslider ">
							<ul class="slides">
								<foreach from="$slideData" value="$slide">
									<li id="main_flex_2" style="background:url(../../../{{$slide['thumb']}}) no-repeat;">
										<!--<div class="slide align-center">-->
											<!--<h4 class="great-vibes">it’s time for changes</h4>-->
											<!--<h2>Building Our Future Together!</h2>-->
											<!--<a href="#" class="button big button-arrow">Get Involved</a>-->
										<!--</div>-->
										<a href="{{$slide['url']}}"></a>
									</li>
								</foreach>

							</ul>
						</div>
						<!-- /Main Slider -->

					</div>

					<!--推荐文章-->
					<div class="col-lg-3 col-md-3 col-sm-4 sidebar">
					<include file="./template/web/tuijian.html"/>
					<!--推荐文章-->
					</div>

				</div>

			</section>
			<!-- /Section -->

			<!-- Section -->
			<section class="section full-width-bg gray-bg">

				<div class="row">

					<div class="col-lg-9 col-md-9 col-sm-8">

						<h3 class=" no-margin-top">最新文章</h3>
						<!-- Blog Post -->
						<newArc rows="5">
							<div class="blog-post big ">
								<div class="post-image">
									<a href="{{$field['a_url']}}"><img src="{{$field['thumb']}}" alt="{{$field['title']}}"></a>
								</div>

								<h4 class="post-title"><a href="{{$field['a_url']}}">{{$field['title']}}</a></h4>

								<div class="post-meta">
									<span>作者：{{$field['author']}}</span>
									<span><i class="icons icon-clock"></i>{{$field['created_at']}}</span>
									<span><i class="icons icon-eye"></i>{{$field['click']}}</span>
								</div>

								<p>{{$field['description']}}</p>

								<a href="{{$field['a_url']}}" class="button read-more-button big button-arrow">阅读更多</a>

							</div>
						</newArc>
						<div class="pageInfo">
							{{$newData->links()}}
						</div>
						<div>

						</div>

						<!-- /Blog Post -->

						<!-- other Articles -->
						<include file="./template/web/other_arc.html"/>
						<!-- /other Articles -->

					</div>


					<!--右侧模块-->
					<div class="col-lg-3 col-md-3 col-sm-4 sidebar">
						<!-- 点击排行 -->
						<include file="./template/web/clicks.html"/>
						<!--热搜标签-->
						<include file="./template/web/hot_tag.html"/>
					</div>




				</div>

			</section>
			<!-- /Section -->
		</section>

	<!--Footer-->
	<include file="./template/web/footer.html"/>
	<!--Footer end-->

	</body>

</html>